name: Java CI with Gradle

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Cache gradle files
      uses: actions/cache@v4
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
          ./.gradle/caches/paperweight
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle', '**/gradle.properties', '**/*.accesswidener', 'settings.json') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    - name: Execute Gradle build
      run: ./gradlew build

    - name: Upload build
      uses: actions/upload-artifact@v4
      with:
        name: build-jars
        path: build/libs/MinecraftBingo-*.jar
